---
title: Redtrack
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<section class="intro">
		<div class="intro__wrapper">
			<div class="l-center">
				<div class="intro__inner">
					<div class="intro__info">
						<a href="#" class="logo"><img src="img/logo.png" alt="redtrack"></a>
						<p class="intro__note">Are you using Voluum?</p>
						<div class="intro__desc">
							<h1 class="intro__header">Meet RedTrack</h1>
							<p class="intro__text">-the Voluum alternative for affiliates and agencies who want an advanced tracking tool with all the features you need at no extra cost.</p>
						</div>
						<div class="intro__button">
							<a href="#" class="button">I want to start tracking now</a>
						</div>
					</div>
					<img class="intro__img" src="img/img1.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<div class="heading">
		<div class="l-center">
			<h2 class="heading__title">How do our prices compare <br> with Voluum?</h2>
		</div>
	</div>

	{% set dataTableMonthly = [{
		plan: 'monthly limits on active campaigns',
		redtrack: 'unlimited',
		voluum: 'limited'
	},
	{
		plan: 'method of counting events',
		redtrack: 'clicks',
		voluum: 'visits, clicks, conversions'
	},
	{
		plan: 'up to 1,000,000 events',
		redtrack: '$49/mo',
		voluum: '$69/mo',
		redtrackBold: true
	},
	{
		plan: 'up to 3,000,000 events',
		redtrack: '$99/mo',
		voluum: '$149/mo',
		redtrackBold: true
	},
	{
		plan: 'up to 10,000,000 events',
		redtrack: '$399/mo',
		voluum: '$449/mo',
		redtrackBold: true
	}] %}


	{% set dataTableYearly = [{
		plan: 'up to 1,000,000 events',
		redtrack: '$490 per year',
		voluum: '$588 per year'
	},
	{
		plan: 'up to 3,000,000 events',
		redtrack: '$990 per year',
		voluum: '$1,428 per year'
	},
	{
		plan: 'up to 10,000,000 events',
		redtrack: '$3,990 per year',
		voluum: '$4,188 per year'
	}] %}
	<section class="data data--main">
		<div class="l-center">
			<div class="data__inner">
				<img class="data__img" src="img/img2.png" alt="img">
				<div class="table">
					<div class="table__row table__row--heading">
						<div class="table__cell"><div class="table__max">Monthly Plans</div></div>
						<div class="table__cell">Redtrack</div>
						<div class="table__cell">Voluum</div>
					</div>
					{% for row in dataTableMonthly %}
					<div class="table__row {% if loop.last %}table__row--last{% endif %}">
						<div class="table__cell"><div class="table__max">{{ row.plan }}</div></div>
						<div class="table__cell {% if row.redtrackBold %}table__cell--bold{% endif %}" data-cell="Redtrack">{{ row.redtrack }}</div>
						<div class="table__cell" data-cell='Voluum'>{{ row.voluum }}</div>
					</div>
					{% endfor %}
					<hr class="table__divider">
					<div class="table__row table__row--heading">
						<div class="table__cell"><div class="table__max">Yearly Plans <br> <span>(No of events monthly)</span></div></div>
						<div class="table__cell">Redtrack</div>
						<div class="table__cell">Voluum</div>
					</div>
					{% for row in dataTableYearly %}
					<div class="table__row {% if loop.last %}table__row--last{% endif %}">
						<div class="table__cell"><div class="table__max">{{ row.plan }}</div></div>
						<div class="table__cell table__cell--bold" data-cell="Redtrack">{{ row.redtrack }}</div>
						<div class="table__cell" data-cell='Voluum'>{{ row.voluum }}</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="data__button">
				<a href="#" class="button">Start collecting the data!</a>
			</div>
		</div>
	</section>
	<div class="heading heading--bg-white heading--more-padding">
		<div class="l-center">
			<h2 class="heading__title">Let's compare our features <br> with Voluum?</h2>
		</div>
	</div>
	{% set dataTableTracking = [{
		plan: 'monthly limits on active campaigns',
		redtrack: 'unlimited',
		voluum: 'limited'
	},
	{
		plan: 'redirectless tracking',
		redtrack: '+',
		voluum: '+ (starts from $/month)'
	},
	{
		plan: 'organic traffic tracking',
		redtrack: '+',
		voluum: '+'
	},
	{
		plan: 'rule-based traffic distribution',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'auto-optimization',
		redtrack: '+*',
		voluum: '+*'
	},
	{
		plan: 'multi-step funnels',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'LP protect',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'postback protect',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'unique click tracking',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'different modes of conversion attribution',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'data storage',
		redtrack: 'unlimited',
		voluum: 'limited'
	},
	{
		plan: 'click and conversion logs',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'real-time statistics',
		redtrack: '+',
		voluum: '+*'
	}] %}

	<section class="data data--tracking">
		<div class="l-center">
			<div class="data__inner">
				<div class="table">
					<div class="table__row table__row--heading">
						<div class="table__cell"><div class="table__max table__max--lg">Tracking & reporting features</div></div>
						<div class="table__cell">Redtrack</div>
						<div class="table__cell">Voluum</div>
					</div>
					{% for row in dataTableTracking %}
					<div class="table__row {% if loop.last %}table__row--last{% endif %}">
						<div class="table__cell"><div class="table__max table__max--lg">{{ row.plan }}</div></div>
						<div class="table__cell" data-cell="Redtrack">{{ row.redtrack }}</div>
						<div class="table__cell" data-cell='Voluum'>{{ row.voluum }}</div>
					</div>
					{% endfor %}
				</div>
				<img class="data__img data__img--tracking" src="img/img3.png" alt="img">
			</div>
			<div class="data__button data__button--max-w">
				<a href="#" class="button">Start collecting the data!</a>
			</div>
		</div>
	</section>
	{% set dataTableToolkit = [{
		plan: 'shared access',
		redtrack: '+',
		voluum: '+'
	},
	{
		plan: 'white-label reporting portal',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'affiliate tracking',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'independent affiliate signup',
		redtrack: '+',
		voluum: '-'
	}] %}

	<section class="data data--toolkit">
		<div class="l-center">
			<div class="data__inner">
				<img class="data__img data__img--toolkit" src="img/img4.png" alt="img">
				<div class="data__tablewrap">
					<div class="table">
						<div class="table__row table__row--heading">
							<div class="table__cell"><div class="table__max table__max--lg">Toolkit for agencies & businesses</div></div>
							<div class="table__cell">Redtrack</div>
							<div class="table__cell">Voluum</div>
						</div>
						{% for row in dataTableToolkit %}
						<div class="table__row {% if loop.last %}table__row--last{% endif %}">
							<div class="table__cell">{{ row.plan }}</div>
							<div class="table__cell" data-cell="Redtrack">{{ row.redtrack }}</div>
							<div class="table__cell" data-cell='Voluum'>{{ row.voluum }}</div>
						</div>
						{% endfor %}
					</div>
					<div class="data__button data__button--max-w data__button--absolute">
						<a href="#" class="button">Yes, these statistics are great!</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="heading heading--bg-white">
		<div class="l-center">
			<h2 class="heading__title">What people say?</h2>
		</div>
	</div>
{% endblock %}
