{% set dataTableMonthly = [{
  plan: 'monthly limits on active campaigns',
  redtrack: 'unlimited',
  voluum: 'limited'
},
{
  plan: 'method of counting events',
  redtrack: 'clicks',
  voluum: 'visits, clicks, conversions'
},
{
  plan: 'up to 1,000,000 events',
  redtrack: '$49/mo',
  voluum: '$69/mo',
  redtrackBold: true
},
{
  plan: 'up to 3,000,000 events',
  redtrack: '$99/mo',
  voluum: '$149/mo',
  redtrackBold: true
},
{
  plan: 'up to 10,000,000 events',
  redtrack: '$399/mo',
  voluum: '$449/mo',
  redtrackBold: true
}] %}


{% set dataTableYearly = [{
  plan: 'up to 1,000,000 events',
  redtrack: '$490 per year',
  voluum: '$588 per year'
},
{
  plan: 'up to 3,000,000 events',
  redtrack: '$990 per year',
  voluum: '$1,428 per year'
},
{
  plan: 'up to 10,000,000 events',
  redtrack: '$3,990 per year',
  voluum: '$4,188 per year'
}] %}
