{% set dataTableTracking = [{
		plan: 'monthly limits on active campaigns',
		redtrack: 'unlimited',
		voluum: 'limited'
	},
	{
		plan: 'redirectless tracking',
		redtrack: '+',
		voluum: '+ (starts from $/month)'
	},
	{
		plan: 'organic traffic tracking',
		redtrack: '+',
		voluum: '+'
	},
	{
		plan: 'rule-based traffic distribution',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'auto-optimization',
		redtrack: '+*',
		voluum: '+*'
	},
	{
		plan: 'multi-step funnels',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'LP protect',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'postback protect',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'unique click tracking',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'customizable click attribution',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'conditional postbacks',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'multi-step funnels',
		redtrack: '+',
		voluum: '-'
	},
	{
		plan: 'click and conversion logs',
		redtrack: '+',
		voluum: '+*'
	},
	{
		plan: 'real-time statistics',
		redtrack: '+',
		voluum: '+*'
	}] %}