.icon-account {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-arrow-left {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: #9B9B9B;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
}
.icon-hamburger {
  width: 1.5em;
  height: 1em;
  fill: url(#a);
}
.icon-help {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-input-arrow {
  width: 1.81em;
  height: 1em;
  fill: #008489;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #008489;
}
.icon-lock {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-mastercard {
  width: 1.69em;
  height: 1em;
  fill: #FFF;
}
.icon-paper-plane {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-reminder {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-truck {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.16em;
  height: 1em;
  fill: #008489;
}
