.intro
  color: #fff
  overflow: hidden
  padding-bottom: 110px
  margin-bottom: -110px
  &__wrapper
    background: #353846
    padding: 30px 0 55px
    +r(1650)
      padding-bottom: 0
  &__inner
    position: relative
    padding-left: 90px
    +r(1650)
      display: flex
      justify-content: space-between
      align-items: flex-start
      padding-left: 0
  &__note
    margin-bottom: 35px
    font-size: 24px
    +r(1200)
      font-size: 22px
    +r(767)
      margin-bottom: 25px
      font-size: 20px
  &__desc
    max-width: 825px
    margin-bottom: 45px
    +poppins-semibold
    text-align: justify
    +r(1440)
      max-width: 600px
    +r(767)
      margin-bottom: 40px
  &__header
    font-size: 60px
    color: #f8646c
    +r(1440)
      font-size: 50px
    +r(1200)
      font-size: 45px
    +r(767)
      font-size: 40px
  &__text
    font-size: 36px
    +r(1440)
      font-size: 26px
    +r(1200)
      font-size: 22px
    +r(767)
      font-size: 18px
  &__img
    position: absolute
    top: 57px
    right: -200px
    +r(1650)
      position: relative
      right: 0
      margin-left: 50px
      top: auto
      bottom: -70px
    +r(1440)
      width: 50%
      max-width: 500px
      margin-right: 50px
    +r(1200)
      width: 40%
      margin-right: 0
    +r(767)
      display: none
  &__button
    +r(1440)
      margin-bottom: 50px
    +r(767)
      margin-bottom: 40px

.logo
  display: inline-block
  margin-bottom: 45px
  +r(1200)
    max-width: 200px
  +r(767)
    margin-bottom: 30px
  img
    max-width: 100%
